body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(135,206,235);
    background: linear-gradient(90deg, rgba(135,206,235,1) 0%, rgba(144,238,144,1) 88%); 
}

.container {
    text-align: center;
    background: skyblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

color-primary: #4CAF50;
color-primary-light #66BB6A;
color-text-light: black;

body {
  align-items: center;
  background: skyblue;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

button {
  background: color-primary;
  border: none;
  border-radius: 25px;
  color: color-text-light;
  cursor: pointer;
  font-size: 1.25em;
  letter-spacing: .1em;
  outline: none;
  padding: .75em 2em;
  position: relative;
  text-transform: uppercase;
  
  &:hover {
    animation: glow 1s ease-in infinite;
  }
  
  &::before {
    animation: glow 1s ease-in infinite;
    background: color-primary;
    border-radius: inherit;
    content: '';
    filter: blur(10px);
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
  }
  
  &:hover::before {
    filter: blur(20px);
    opacity: 1;
  }
}

@keyframes glow {
  0% {
    background: $color-primary;
  }
  25% {
    background: $color-primary-light;
  }
  100% {
    background: $color-primary;
  }
}
.results {
    margin-top: 20px;
}
