body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: skyblue;
}

.container {
    text-align: center;
    background: lightgreen;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    text-decoration: none;
    background:rgb(145,92,182);
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
    background-color: lightgrey;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

.results {
    margin-top: 20px;
}
